@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Winky+Sans:ital,wght@1,300..900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
    /* background-color: #F16521; */

}

.contact-banner {
    text-align: center;
    color: #333;
    font-size: 24px;
    background-color: #FFD7A0;
    padding: 150px 20px;
}
.contact-banner h1 {
    font-size: 42px;
    font-family: "Roboto Slab", serif;
    margin: 0;
    font-weight: bold;
}

.contact-banner p {
    font-size: 25px;
    margin-top: 15px;
    font-family: "Winky Sans", sans-serif;
    margin-left:-10px;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
    width: 80%;
    margin: auto;
}

.contact-form {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    width: 100%;
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: #e67e00;
}


.contact-info {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}



