<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>


    <header>
        <div class="logo"><a href="index.html">Handcrated.co</a></div>
        <div class="search-box">
            <input type="text" placeholder="Search for anything">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
       
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>